html {
    height: 100%;
}

body {
    background: white;
    line-height: 1.4;
    height: 100%;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.header {
    background: #73B4D8;
    height: 50px;
    position: relative;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid black;
}

.icon {
    background: none;
    border: none;
    height: 100%;
    padding: 0;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
    top: 0;
    width: 40px;
}

.icon-initial {
    left: 0;
}

.icon-initial img {
    vertical-align: bottom;
}

.icon-info {
    right: 0;
}

.icon-info i {
    background: #fff;
    border-radius: 11px;
    color: #23b849;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    vertical-align: baseline;
    width: 22px;
}

.icon-info:active i {
    box-shadow: #fff 0 0 4px;
}

h1 {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.8em;
    margin: 0;
    text-shadow: 1px 1px 1px #515C54;
}

h2, h3, h4 {
    color: #73B4D8;
    text-transform: uppercase;
}

h5 {
    color: #5e5e5e;
    text-transform: uppercase;
}

.unstyled {
    list-style: none;
    padding: 0;
}

.map {
    bottom: 2.6em;
    left: 0;
    position: absolute;
    right: 0;
    top: 53px;
    height: 91.3%;
}

.page {
    background: #fff;
    bottom: 0;
    left: 100%;
    overflow: hidden;
    padding: 0 1em;
    position: absolute;
    right: 0;
    top: 2.6em;
    -webkit-transition: left .5s;
    -moz-transition: left .5s;
    -ms-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s;
    z-index: 2;
}

.page article {
    /*border-top: 1px solid #5e5e5e;*/
}

.page article:first-child {
    border-top: none;
}

.page-active {
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.logo-data {
    vertical-align: text-bottom;
}

.footer {
    background: transparent;
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav > li {
    float: left;
    width: 12%;
    height: 75px;
    margin-bottom: 15px;
}


@media all and (max-width:750px){
 .nav > li {
    float: left;
    width: 25%;
    height: 75px;
}   
}


.btn {
    color: #fff;
    line-height: 2.6em;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: center;
    width: 100%;
    height: 75px;
    outline:none;
    width: 70px;
    height: 70px;
    border:3px solid grey;
    border-radius: 50%;
}

input[type="button"]{outline:none;border:none;}

.btn:before {
  content: "Shoppings";
  position: relative;
  width: 120px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(15,15,15,.6);
  color: white;
  vertical-align: -118%;
  
  font-size: medium;
}

.btn[data-is-active="false"], .btn-active {
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray;
}

.accessNO {
  /*background-color: green;*/
  color: red;
  
}

.accessYES {
  /*background-color: red;*/
  color: green;
  
}


.btn[data-type="MUSEO"] {background: url('../img/filtros_museos.png'); background-repeat: no-repeat;background-position: center;}
.btn[data-type="MUSEO"]:before {content: "Museos";margin-left: -3px;}

.btn[data-type="PLAYA"] {background: url('../img/filtros_playas.png');background-repeat: no-repeat;background-position: center;}
.btn[data-type="PLAYA"]:before {content: "Playas";margin-left: -2px;}

.btn[data-type="OTROS"] {background: url('../img/filtros_otros.png');background-repeat: no-repeat;background-position: center;}
.btn[data-type="OTROS"]:before {content: "Otros";margin-left: -2px;}

.btn[data-type="PARQUES_Y_PLAZAS"] {background: url('../img/filtros_parques.png');background-repeat: no-repeat;background-position: center;}
.btn[data-type="PARQUES_Y_PLAZAS"]:before {content: "Parques";margin-left: -5px;}

.btn[data-type="ESPACIOS_DEPORTIVOS"] {background: url('../img/filtros_deportivos.png');background-repeat: no-repeat;background-position: center;}
.btn[data-type="ESPACIOS_DEPORTIVOS"]:before {content: "Deporte";margin-left: -3px;}

.btn[data-type="CENTROS_COMERCIALES"] {background: url('../img/filtros_comerciales.png');background-repeat: no-repeat;background-position: center;}
.btn[data-type="CENTROS_COMERCIALES"]:before {content: "Shoppings";margin-left: -12px;}

.btn[data-type="CENTROS_EDUCATIVOS"] {background: url('../img/filtros_educativos.png');background-repeat: no-repeat;background-position: center;}
.btn[data-type="CENTROS_EDUCATIVOS"]:before {content: "Educación";margin-left: -12px;}


.btn[data-type="TEATRO"] {background: url('../img/filtros_teatros.png');background-repeat: no-repeat;background-position: center;}
.btn[data-type="TEATRO"]:before {content: "Teatros";margin-left: -1px;}